aws/terraform/environments/*/.terraform/*
aws/terraform/environments/*/terraform.tfstate
aws/terraform/environments/*/terraform.tfstate.backup
aws/terraform/environments/*/.terraform.lock.hcl
aws/terraform/environments/*/.terraform.tfstate.lock.info
*.DS_Store
